body,html{
  margin: 0;
  background-color: #e6fffc;
}
a{
  color: inherit;
  transition: all 300ms;
  &:hover{
    color: tomato;
  }
}
.posts{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 1rem;
}

.title{
  min-height: 200px;
  border-radius: 5px;
  box-shadow: 0 0 .2rem 0 #333;
  cursor: pointer;
  transition: all 300ms;
  &:hover{
    transform: translateY(-10px);
  }
}
